
<div class="row three-quarters">
    <div class="pricing-column">
        {% include pricing-heading.html name="Pale Ale" price="49" %}
        {% include pricing-features.html %}
        <p class="buy-btn"><a href="/sign-up/pale-ale/" class="btn  full">Sign up now</a></p>
    </div>
    <div class="pricing-column">
        {% include pricing-heading.html name="IPA" price="99" %}
        {% include pricing-features.html extra1='Online merchandise sales' %}
        <p class="buy-btn"><a href="/sign-up/ipa/" class="btn full">Sign up now</a></p>
    </div>
    <div class="pricing-column">
        {% include pricing-heading.html name="Double IPA" price="199" %}
        {% include pricing-features.html extra1='Online merchandise sales' extra2='Done-for-you site changes' %}
        <p class="buy-btn"><a href="/sign-up/double-ipa/" class="btn full">Sign up now</a></p>
    </div>
</div>
<p>All plans require our <strong>Pro Setup Service</strong> (a one-time, $199 fee&mdash;<em>fully refundable in the first 30 days</em>) for</p>
<ul>
    <li>customizing the design to your brewery,</li>
    <li>transfering your existing content to the new site,</li>
    <li>optimizing your new site for search engines, and</li>
    <li>connecting the site to your domain name and social media profiles.</li>
</ul>