<div class="mockups">
    <div class="device-mockup ipad portrait black">
        <div class="device">
            <div class="screen">
                <iframe id="device-content-ipad" src="{{include.demo}}"></iframe>
            </div>
            <div class="button"></div>
        </div>
    </div>

    <div class="device-mockup iphone5 portrait black">
        <div class="device">
            <div class="screen">
                <iframe id="device-content-iphone" src="{{include.demo}}"></iframe>
            </div>
            <div class="button"></div>
        </div>
    </div>

    <div class="device-mockup macbook portrait black">
        <div class="device">
            <div class="screen">
                <iframe id="device-content-macbook" src="{{include.demo}}"></iframe>
            </div>
            <div class="button"></div>
        </div>
    </div>
</div>