
.home {
  .page-title {
    text-align: center;
    h2 {
      font-weight: normal;
    }
  }
  .page-feature-image {
    width: 1030px;
  }
}

.big-number {
  font-size: 5em;
  text-align: right;
  line-height: 1em;
}