---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<div class="archive-wrap">
			<div class="page-content">
                {% include responsive-demo.html demo=page.demo %}

				{{ content }}
                <div class="row">
                    <div class="span6"><a href="{{page.buy}}" class="btn btn-lg full">Download Instantly&mdash;$55</a></div>
                    <div class="span6"><a href="{{page.demo}}" class="btn btn-lg btn-default full" target="_blank">Try the Demo</a></div>
                </div>
                <h2>Features</h2>
                <div class="tiles">
                    <div class="tile">
                        <h3 class="post-title">Customizable Design</h3>
                        <div class="tile-excerpt">
                            <p>We make it easy to get a site that suits your branding.</p>
                            <p>Tweak the theme to use your brewery's logo, colors, fonts, & photos.</p>
                        </div>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Ecommerce Support</h3>
                        <p class="tile-excerpt">Selling your merchandise online is easy to set up and easy to manage, thanks to The Modern Brewery's integration with
                            <a href="http://www.woothemes.com/woocommerce/" target="_blank">WooCommerce</a>, one of the Web's most popular (and powerful!) ecommerce platforms.</p>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Responsive, Mobile-Ready Design</h3>
                        <div class="tile-excerpt">
                            <p>If you want your Web site to build your fan base, your site has to play nice with phones & tablets.</p>
                            <p>That's why The Modern Brewery adapts to whatever screen size you’re using&mdash;desktop, laptop, tablet, or smartphone.</p>
                        </div>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Social Media Integration</h3>
                        <p class="tile-excerpt">The Modern Brewery makes it easy to add links to your company’s social media accounts, both in the page header and the sidebar. It includes great-looking icons for Facebook, Twitter, LinkedIn, and Google+.</p>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Show Off Your Beers</h3>
                        <div class="tile-excerpt">
                            <p>With a custom layout for beer pages, plus easy ways to embed your beers in any page (or the site-wide sidebar), your brewery's repertoire has never looked better.</p>
                        </div>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Support for Google Maps</h3>
                        <p class="tile-excerpt">Add a map of your location (complete with support for getting directions) on a page, or put one in your footer and have it appear on <em>all</em> pages.</p>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Optimized for Search Engines</h3>
                        <div class="tile-excerpt">
                            <p>The theme is designed using SEO best practices, so that you get the most traffic possible out of your Web presence.</p>
                            <p> We use Schema.org markup (a.k.a. microformats or structured data) to enhance your site’s results in the search engines, and we support the Yoast SEO plugin for enhanced SEO.</p>
                        </div>
                    </div>
                    <div class="tile">
                        <h3 class="post-title">Comprehensive Documentation</h3>
                        <div class="tile-excerpt">
                            <p>The bundled sample WordPress data makes it easy to get up and running quickly.</p>
                            <p>If you get stuck, the documentation can walk you through every step of recreating the demo site.</p>
                        </div>
                    </div>
                </div><!-- /.tiles -->

                <div class="row">
                    <div class="span6"><a href="{{page.buy}}" class="btn btn-lg full">Download Instantly&mdash;$55</a></div>
                    <div class="span6"><a href="{{page.demo}}" class="btn btn-lg btn-default full" target="_blank">Try the Demo</a></div>
                </div>

                <h2>Documentation</h2>
                <p>For help setting up the theme, see the documentation included in the ZIP file you downloaded, in the <code>docs</code> directory. Or, view the documentation from within the theme itself&mdash;open your WordPress administration back-end and go to Site Options. There, click the Documentation tab.</p>
			</div><!-- /.page-content -->
		</div><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
</div><!-- /#main -->

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>